---
---
@import "{{ site.theme }}";

// modify title "Computer Science Capstone..."
p.tagline {
  text-align: center;
  font-size: 25px;
}

// modify color of links to be more readable
a {
  color: #c1ebdd !important;
}

#main .markdown-body a {
  color: #0365d5 !important;
}

#main .markdown-body a:hover {
  color: #38679e !important;
}

// creds = credits at the very bottom of the screen
div.creds a {
  color: black !important;
}

// modify width of the main section so text fills more of the screen
.wrapper {
    width: 1000px !important;
}
