---
---
@import "{{ site.theme }}";

// #main .markdown-body a {
//   color: #45731d !important;
// }

// #main .markdown-body a:hover {
//   color: #63a52a !important;
// }


#main .markdown-body a {
  color: #493282 !important;
}

#main .markdown-body a:hover {
  color: #71609e !important;
}

.wrapper {
    width: 875px !important;
}
