---
---
@import "{{ site.theme }}";

p.tagline {
  text-align: center;
}

a {
  color: #c1ebdd !important;
}

div.creds {
  color: black;
}

// #main .markdown-body a {
//   color: #45731d !important;
// }

// #main .markdown-body a:hover {
//   color: #63a52a !important;
// }

#main .markdown-body a {
  color: #3c839b !important;
}

#main .markdown-body a:hover {
  color: #38679e !important;
}

.wrapper {
    width: 1000px !important;
}
